<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Config properties for Web UnitTest-->
    <add key="BaseUrl" value="http://localhost:8000/Sample%2FExampleScreen" />
    <add key="ExcelDataSourcePath" value="\DataSources\TestData.xlsx" />
    <add key="XMLTestResultsPath" value="\DataSources\TestResult.xml" />
    <add key="ExcelTestResultsPath" value="\DataSources\" />
    <add key="TestDataPath" value="\DataSources\TestConfiguration.xml"/>
    <add key="SaveScreenShot" value="Y" />
    <add key="ScreenShotPath" value="C:\AutomatedRunResults"/>
    
  </appSettings>
</configuration>