<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="XMLTestResultsPath" value="C:\WAPFML\WASelenium\SeleniumProject\bin\Debug\TestResult.xml" />
  <add key="ExcelTestResultsPath" value="C:\WAPFML\WASelenium\SeleniumProject\bin\Debug\MMDDYYYY_AutomationRunResult.xlsx" />
  <add key="ExcelDataSourcePath" value="C:\WAPFML\WASelenium\SeleniumProject\DataSources\TestData.xlsx" />
</configuration>